@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BTGLayout.cshtml";
}

<div class="jumbotron">
    <h1>Bridging The Gap</h1>
    <p class="lead">The app for all of your tutoring needs!</p>    
</div>

<div class="row justify-content-evenly">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Tutors</h2>
            <h6 class="card-subtitle mb-2 text-muted">Do you need help studying for a test or help on an assignment?</h6>
            <hr />
            <p class="card-text">There is a wide range of help available for you here. Find a tutor that can help you with your studying needs.</p>
            <button class="btn btn-dark">@Html.ActionLink("View Tutors", "Index", "Tutor")</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Students</h2>
            <h6 class="card-subtitle mb-2 text-muted">Are you looking for a study buddy?</h6>
            <hr />
            <p class="card-text">There are plenty of other students with similar questions and study needs as you. All you have to do is go out and find them.</p>
            <button class="btn btn-dark">@Html.ActionLink("View Students", "Index", "Student")</button>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Subjects</h2>
            <h6 class="card-subtitle mb-2 text-muted">Looking to expand your knowledge?</h6>
            <hr />
            <p class="card-text">View the broad range of subjects that our tutors offer to students. We hope find find something new to learn about today!</p>
            <button class="btn btn-dark">@Html.ActionLink("View Subjects", "Index", "Subject")</button>
        </div>
    </div>
</div>